In [3]:
import requests
import json
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [4]:
url = 'https://dev.tjnar.com/api/track?trackId=3XF5xLJHOQQRbWya6hBp7d'
response = requests.get(url)
print(response.status_code)

200

In [12]:
def list_of_albums():
    artist = input("Enter an artist of your choice ")
    url_2 = 'https://dev.tjnar.com/api/search?query=' + artist
    response2 = requests.get(url_2)
    songdata = response2.json()
    uri = songdata['artists']['items'][0]['uri']
    uri_split = uri.split(':')
    artistcode = uri_split[2]
    wanted_url = 'https://dev.tjnar.com/api/artist?artistId=' + artistcode
    response3 = requests.get(wanted_url)
    artistdata = response3.json()
    album_list = []
    for i in range(0,(artistdata['artistAlbums']['total'])):   
        album_list.append(artistdata['artistAlbums']['items'][i]['name'])
    return album_list
        
x = list_of_albums()
albums_df = pd.DataFrame(x)
albums_df

Enter an artist of your choice Post Malone

                         0
0     beerbongs & bentleys
1     beerbongs & bentleys
2          Stoney (Deluxe)
3          Stoney (Deluxe)
4             Wow. (Remix)
5      Wow. (Instrumental)
6                     Wow.
7                     Wow.
8         rockstar (Remix)
9  Congratulations (Remix)